<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://com.company.demo/menu.application.title">
        <item view="demo_User.list" title="msg://com.company.demo.view.user/UserListView.title"/>
        <item view="demo_OrgStructure" title="msg://com.company.demo.view.orgstructure/OrgStructureView.title"/>
        <item view="demo_Department.list" title="msg://com.company.demo.view.department/departmentListView.title"/>
        <item view="demo_Employee.list" title="msg://com.company.demo.view.employee/employeeListView.title"/>
        <item view="demo_DemoPvttbl" title="msg://com.company.demo.view.demopvttbl/demoPvttbl.title"/>
        <item view="demo_TipInfo.list" title="msg://com.company.demo.view.tipinfo/tipInfoListView.title"/>
    </menu>
    <menu opened="true" id="dq" description="msg://com.company.demo/menu_config.dq.description"
          title="msg://com.company.demo/menu_config.dq.title">
        <item view="demo_DqDataDomain.list"
              title="msg://com.company.demo.view.dqdatadomain/dqDataDomainListView.title"/>
        <item view="demo_DqDataProduct.list"
              title="msg://com.company.demo.view.dqdataproduct/dqDataProductListView.title"/>
        <item view="demo_DqRule.list" title="msg://com.company.demo.view.dqrule/dqRuleListView.title"/>
        <item view="demo_DqCheckRun.list" title="msg://com.company.demo.view.dqcheckrun/dqCheckRunListView.title"/>
    </menu>
</menu-config>