<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.demo/menu.application.title">
        <item view="demo_User.list" title="msg://com.company.demo.view.user/UserListView.title"/>
        <item view="demo_OrgStructure" title="msg://com.company.demo.view.orgstructure/OrgStructureView.title"/>
    </menu>
    <menu id="catalog" description="msg://com.company.demo/menu_config.catalog.description"
          title="msg://com.company.demo/menu_config.catalog.title">
        <item view="demo_DictDataDomain.list" title="msg://com.company.demo.view.dict/dictDataDomainListView.title"/>
        <item view="demo_DictDataProduct.list" title="msg://com.company.demo.view.dict/dictDataProductListView.title"/>
        <item view="demo_JobTitle.list" title="msg://com.company.demo.view.dict/jobTitleListView.title"/>
        <item view="demo_Department.list" title="msg://com.company.demo.view.dict/departmentListView.title"/>
        <item view="demo_Employee.list" title="msg://com.company.demo.view.dict/employeeListView.title"/>
        <item view="demo_Position.list" title="msg://com.company.demo.view.dict/positionListView.title"/>
    </menu>
    <menu id="dq" description="msg://com.company.demo/menu_config.dq.description"
          title="msg://com.company.demo/menu_config.dq.title">
        <item view="demo_DqRuleGroup.list" title="msg://com.company.demo.view.dq/dqRuleGroupListView.title"/>
        <item view="demo_DqRule.list" title="msg://com.company.demo.view.dq/dqRuleListView.title"/>
        <item view="demo_DqCheckRun.list" title="msg://com.company.demo.view.dq/dqCheckRunListView.title"/>
        <item view="demo_DqIssue.list" title="msg://com.company.demo.view.dq/dqIssueListView.title"/>
    </menu>
    <menu id="hr" description="msg://com.company.demo/menu_config.hr.description"
          title="msg://com.company.demo/menu_config.hr.title">
        <menu id="work-discipline" description="msg://com.company.demo/menu_config.work-discipline.description"
              title="msg://com.company.demo/menu_config.work-discipline.title">
            <item view="demo_WorkDisciplineException.list" id="work-discipline-exceptions"
                  description="msg://com.company.demo/menu_config.work-discipline-exceptions.description"
                  title="msg://com.company.demo/menu_config.work-discipline-exceptions.title"/>
        </menu>
    </menu>
    <menu id="reports" title="msg://io.jmix.reportsflowui/menu.reports.title">
        <item view="report_Report.list" title="msg://io.jmix.reportsflowui/reportListView.menu"/>
        <item view="report_ReportGroup.list" title="msg://io.jmix.reportsflowui/reportGroupListView.menu"/>
        <item view="report_ReportRunView" title="msg://io.jmix.reportsflowui/reportRunView.menu"/>
        <item view="report_ReportTableView" title="msg://io.jmix.reportsflowui/reportTableView.menu"/>
    </menu>
    <menu id="security" title="msg://com.company.demo/menu.security.title">
        <item view="sec_ResourceRoleModel.list"
              title="msg://io.jmix.securityflowui.view.resourcerole/resourceRoleModelListView.menu"/>
        <item view="sec_RowLevelRoleModel.list"
              title="msg://io.jmix.securityflowui.view.rowlevelrole/rowLevelRoleModelListView.menu"/>
    </menu>
    <menu id="quartz" title="msg://com.company.demo/menu.quartz.title">
        <item view="quartz_JobModel.list" title="msg://io.jmix.quartzflowui.view.jobs/jobModelListView.menu"/>
        <item view="demo_QuartzJobExecution.list"
              title="msg://com.company.demo.view.quartzjobexecution/quartzJobExecutionListView.title"/>
        <item view="demo_TableSynchronizer.list"
              title="msg://com.company.demo.view.tablesynchronizer/tableSynchronizerListView.title"/>
    </menu>
    <menu id="datatools" title="msg://com.company.demo/menu.datatools.title">
        <item view="datatl_entityInspectorListView"
              title="msg://io.jmix.datatoolsflowui.view.entityinspector/listTitle"/>
        <item view="datatl_dataModelListView"
              title="msg://io.jmix.datatoolsflowui.view.datamodel/entityModelListView.title"/>
    </menu>
</menu-config>